<!-- landing.component.html -->
<app-header></app-header> <!-- Usa el componente HeaderComponent -->
<app-hero></app-hero>  
<app-about></app-about>    <!-- Usa el componente HeroComponent -->
<app-services></app-services> <!-- Usa el componente ServicesComponent -->
<app-features></app-features> <!-- Usa el componente FeaturesComponent -->
  <!-- Usa el componente AboutComponent -->
 <!-- Usa el componente CommunityComponent -->
<app-contact></app-contact> <!-- Usa el componente ContactComponent -->

<app-footer></app-footer> <!-- Usa el componente FooterComponent -->