<!-- landing.component.html -->
<app-header></app-header> <!-- Usa el componente HeaderComponent -->
<app-hero></app-hero>     <!-- Usa el componente HeroComponent -->
<app-services></app-services> <!-- Usa el componente ServicesComponent -->
<app-about></app-about>   <!-- Usa el componente AboutComponent -->
<app-community></app-community> <!-- Usa el componente CommunityComponent -->
<app-contact></app-contact> <!-- Usa el componente ContactComponent -->
<app-features></app-features> <!-- Usa el componente FeaturesComponent -->
<app-footer></app-footer> <!-- Usa el componente FooterComponent -->