<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      
         <img src="logoms.svg" alt="">
      
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#features">Características</a></li>
          <li><a href="#services">Servicios</a></li>
          
          <li><a href="#contact">Contacto</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" routerLink="/auth/login">Iniciar Sesion</a>
      

    </div>
  </header>
