<!--vodeo de background
<div class="video-bg">
 <video width="320" height="240" autoplay loop muted>
  <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>-->

<div class="dark-light" (click)="toggleTheme()">
  <svg
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="1.5"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
  </svg>
</div>

<div class="app">



  <!--seccion de header-->

  <div class="wrapper">
    <!--Menu Lateral-->

  
    <!--fin del menu lateral-->



    <!--contendio-->
    <div class="main-container">
      <div class="main-header">
        <a class="menu-link-main" href="#">All Apps</a>
        <div class="header-menu">
          <a class="main-header-link is-active" href="#">Desktop</a>
          <a class="main-header-link" href="#">Mobile</a>
          <a class="main-header-link" href="#">Web</a>
        </div>
      </div>

         <div class="welcome-message">
        <h1>Bienvenido, <span>{{ userName }}</span> 👋</h1>
        <p>Esperamos que tengas un gran día.</p>
      </div>
<div class="card-container">
  <!-- Tarjeta 1: Total User -->
  <div class="card card-1">
    <h3>
      Total User
      <span class="icon">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="1.5">
  <path d="M5 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
  <path d="M3 21v-2a4 4 0 0 1 4 -4h4c.948 0 1.818 .33 2.504 .88"></path>
  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
  <path d="M16 19h6"></path>
</svg>
      </span>
    </h3>
    <p>
      <span class="icon"><i class="fas fa-arrow-up"></i></span>
      40,689
    </p>
  
  </div>

  <!-- Tarjeta 2: Total Order -->
  <div class="card card-2">
    <h3>
      Total Order
      <span class="icon"><i class="fas fa-shopping-cart"></i></span>
    </h3>
    <p>
      <span class="icon"><i class="fas fa-arrow-up"></i></span>
      10,293
    </p>
    
  </div>

  <!-- Tarjeta 3: Total Sales -->
  <div class="card card-3">
    <h3>
      Total Sales
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="28" height="28" stroke-width="1.25">
  <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"></path>
  <path d="M12 12l8 -4.5"></path>
  <path d="M12 12l0 9"></path>
  <path d="M12 12l-8 -4.5"></path>
  <path d="M16 5.25l-8 4.5"></path>
</svg></span>
    </h3>
    <p>
      <span class="icon"><i class="fas fa-arrow-down"></i></span>
      $89,000
    </p>
  
  </div>

  <!-- Tarjeta 4: Total Pending -->
  <div class="card card-4">
    <h3>
      Total Pending
      <span class="icon"><i class="fas fa-clock"></i></span>
    </h3>
    <p>
      <span class="icon"><i class="fas fa-arrow-up"></i></span>
      2,040
    </p>
   
  </div>
</div>
        
      </div>

      
    </div>
   
  <div class="overlay-app"></div>
</div>
